html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  height: 100%;
}
.white {
  color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(172, 172, 172);
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
  background-color: #f8f8f8;
  /* width: 100%; */
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem solid rgb(104, 104, 104);
}
button.primary {
  background-color: gold;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.5rem;
  width: 40%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 5rem 1fr 5rem;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

@media (max-width: 768px) {
  .grid-container {
    -ms-grid-rows: auto 1fr 5rem;
  grid-template-rows: auto 1fr 5rem;
  }
}

header {
  grid-area: header;
  background-color: #203040;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: white;
}


/* common */

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row a {
  padding: 1rem;
}

.row a:hover {
  color: #ff8000;
}

.row a.brand {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.6rem;
  font-size: 1.5rem;
  margin-left: 0.4rem;
}

.row.center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row.center a {
  color: black;
}

.row.top {
  align-items: flex-start;
}

.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}

.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}

/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
  color: black;
}

/* Image */

img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 26rem;
  max-height: 32rem;
  min-height: 32rem;
  height: 100%;
  width: 100%;
}
img.large {
  width: 100%;
  max-width: 40rem;
}

.card {
  border: 0.1rem solid #c0c0c0;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-main {
  border: 0.1rem solid #c0c0c0;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  max-width: 28rem;
  width: 100%;
  max-height: 50rem;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.card-body {
  padding: 1rem;
  width: 90%;
}

.card-body a h2 {
  margin-top: -2rem;
}
.rating {
  color: gold;
  margin: 0.1rem;
  margin-top: -2rem;
}
.rating span:last-child {
  color: rgb(46, 46, 46);
}

.card-body .price {
  font-size: 2rem;
  margin-top: 0.5rem;
}

/* Alert */
.loading {
  display: block !important;
}

.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #e9ffe0;
}

/* form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
  /* display: block; */
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active {
  border-top-color: #ff8000;
  color: #ff8000;
}

/* Table */

.table {
  width: 100%;
  border-collapse: collapse;
}
.table2 {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table2 tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table td,
.table th {
  text-align: center;
  padding: 0.5rem;
  border: 0.1rem solid #e4e4e4;
}
.table2 td,
.table2 th {
  text-align: center;
  padding: 0.5rem;
  border: 0.1rem solid #e4e4e4;
}

.table button {
  margin: 0 0.2rem;
}

/* Responsive Table */
@media (max-width : 767px){
  
  .table2 thead {
    display: none;
  }
  .table2 , .table2 tbody , .table2 tr , .table2 td {
    display: block;
    width: 100%;
  }
  .table2 tr {
    margin-bottom: 1.5rem;
    
  }
  .table2 td {
    text-align: right;
    position: relative;
    /* padding-left: 50%; */

  }
  .table2 td::before{
    /* content: attr(data-label); */
    position: absolute;
    left: .25rem;
    top: .5rem;
    font-weight: bold;
    display: block;
  }
  .table2 td:nth-of-type(1):before { content: "ID"; }
	.table2 td:nth-of-type(2):before { content: "DATE"; }
	.table2 td:nth-of-type(3):before { content: "TOTAL"; }
	.table2 td:nth-of-type(4):before { content: "PAID"; }
	.table2 td:nth-of-type(5):before { content: "DELIVERED"; }
	.table2 td:nth-of-type(6):before { content: "ACTIONS"; }
}

/* z index allot */
.at-top {
  z-index: 10;
}
/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}

.active {
  font-weight: bold;
}

/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}
